* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(244, 243, 237)
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 1rem 3rem 0rem;
}

.navbar--section {
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: 0.05rem;
}

.navbar--section .menu {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}

main {
    background-color: var(--primary);
    padding: 8rem 2rem;
}

main .header {
    text-align: center;
}

main .header h1 {
    font-size: 3rem;
    margin-bottom: 2rem;
    font-weight: 100;
}

main .experiences {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}
main .experience--card {
    background-color: white;
}

main .experience--card img {
    width: 100%; /* otherwise the images overflow card container */
}

main .experience--card .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

main .experience--card .offers {
    display: flex;
    gap: 0.5rem;
}

main .experience--card .title {
    text-transform: uppercase;
}

main .experience--card .price {
    text-transform: uppercase;
    color: rgb(181, 181, 181);
}

main .experience--card .amount-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .experience--card .amount-section .amount {
    font-weight: bold;
}

main .experience--card .amount-section .iva {
    background: rgb(222, 222, 222);
    padding: 0.5rem 0.8rem;
}

main .experience--card .details {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0.5rem 1rem;
}