* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: rgb(244, 243, 237);
    --secondary: rgb(181, 181, 181); 
    --secondary-light: rgb(223, 223, 223); 
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 2000px;
    margin: auto;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-transform: uppercase;
    padding: 1rem 3rem 0rem;
}

.navbar--section {
    display: flex;
    align-items: center;
    gap: 20px;
    letter-spacing: 0.05rem;
}

.navbar--section .dropdown-menu {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    position: relative; /* used for dropdown */
}

.dropdown-menu:hover .dropdown {
    display: block;
}

.dropdown-menu .dropdown {
    list-style: none;
    display: none;
    position:absolute;
    top: 100%;
    left: 0;
    white-space: nowrap;    /* don't wrap text */
    background-color: white;
}

.dropdown-menu .dropdown .item {
    padding: 0.5rem;
}

.dropdown-menu .dropdown .item:hover {
    background-color: var(--secondary-light)
}

nav .language-icon {
    height: 1rem;
    margin-right: 0.5rem;
}

main {
    background-color: var(--primary);
    padding: 8rem 2rem;
}

main .header {
    text-align: center;
    font-family: serif;
    font-size: 1.5rem;
}

main .header h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    font-weight: 400;
}

main .experiences {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 1.5rem;
    perspective: 1000px;
}

@media (min-width: 1024px) { /* laptop */
    main .experiences {
        grid-template-columns: repeat(3, 1fr);
    }
}

main .experience--card {
    background-color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease, box-shadow 0.5s ease;
    transform-style: preserve-3d;
}

main .experience--card:hover {
    transform: translateZ(10px);
}

main .experience--card:last-child {
    grid-column: 1 / -1;
    flex-direction: row;
}

main .experience--card img {
    width: 100%; /* otherwise the images overflow card container */
}

main .experience--card:last-child img {
    width: 60%;
}


main .experience--card .content {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
    flex: 1
}

main .experience--card .offers {
    display: flex;
    gap: 0.5rem;
}

main .experience--card .title {
    text-transform: uppercase;
}

main .experience--card .price {
    margin-bottom: 2rem;
}

main .experience--card .price-label {
    text-transform: uppercase;
    color: var(--secondary);
}

main .experience--card .amount-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main .experience--card .amount-section .amount {
    font-weight: bold;
}

main .experience--card .amount-section .iva {
    background: var(--secondary-light);
    padding: 0.5rem 0.8rem;
}

main .experience--card .details {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    margin-top: auto;
    cursor: pointer;
}
